html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#hero-section{
    display: flex;
    height: 88vh;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;

}

.header {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 5px 5px 17px -4px rgba(0,0,0,0.11);
    z-index: 2;
}

#header-spacer {
  width: 100%;
  height: 12vh;
}


#logo {
    max-width: 70px;
    margin-left: 5%;
}

h3 {
    display: inline-block;
    color: #8458B3;
    font-weight: 600;
    font-size: 40px;
    margin-left: 10px;
}

#app-screenshot {
    max-width: 500px;
    width: 25vw;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}
@media all and (max-height: 700px) {
  #app-screenshot {
    height: 80vh;
    width: auto;
  }
}

h1 {
    color: #8458B3;
    font-size: min(3.5vw, 70px);
    font-weight: 900;
}

h2 {
    color: black;
    font-size: min(2.5vw, 50px);
    font-weight: 400;
}

button {
    background-color: #8458B3;
    color: white;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    border: none;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 90%;
    box-shadow: 10px 10px 37px -3px rgba(153,142,153,1);
}
  
.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #A0D2EB;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
.button:hover {
    color: black;
    border: 1px solid #A0D2EB;
  }
  
.button:hover:before {
    top: -35%;
    background-color: #A0D2EB;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
.button:hover:after {
    top: -45%;
    background-color: #A0D2EB;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

.button:active {
    z-index: -1;
    scale: 0.95;
    background-color: #8458B3;
}

/*value proposition section */
#value-section {
  background-color: #494D5F;
  width: 100%;
  height: 60vh;
  position: relative;
}

.white-para {
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  font-size: 2vw;
  font-weight: 300;
}

.center-container {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

#big-question {
  width: 100%;
  text-align: center;
  font-size: 8vw;
  background: -webkit-linear-gradient(#A0D2EB, #a165b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




  
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.69);
  }

.form-container {
  width: 100%;
  height: 100%;
}
  
/* Full-width input fields */
.form-container input{
    width: 100%;
    border: none;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    background: #f1f1f1;
    box-sizing: border-box;
}
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #8458B3;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  #dimmer {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }

  h4 {
    text-align: center;
    font-weight: 400;
  }

  /* Submit loader */

  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  
  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }

  #thankYou {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  p {
    text-align: center;
    font-weight: 350;
    font-size: 20px;
  }

#close-button {
  background-color: #D22B2B;
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 20px;
}

#close-button:hover {
  scale: 1.04;
}

#mobile-screenshot {
  display: none;
}

#thank-msg {
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

#submit-button {
  width: 60%;
  margin: auto;
  font-size: 30px;
  display: block;
}

.explain-card {
  width: 95%;
  margin: auto;
  background-image: linear-gradient(to left bottom, #e5eaf5, #eceff7, #f3f4fa, #f9f9fc, #ffffff);
  border-radius: 30px;
  margin-top: 5vh;
  height: 80vh;
  box-shadow: 10px 11px 24px -15px rgba(0,0,0,0.36);
}

.sidebyside {
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.explain-app-screenshot {
  height: 100%;
}

h5 {
  color: #8458B3;
  font-weight: 600;
  font-size: 3vw;
}

.explain-spacer {
  width: 20%;
}

.explain-para {
  text-align: left;
  font-size: 2vw;
  font-weight: 300;
  color:#494D5F;
}

.explain-text-container {
  max-width: 40%;
}

@media all and (max-width: 600px) {
  /* CSS rules here for screens lower than 750px */

  #hero-section {
    height: auto;
    flex-direction: column;
  }

  #app-img {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #app-screenshot {
    width: 80%;
    margin: auto;
  }

  #logo {
    display: none;
  }

  .header {
    max-width: 100%;
  }

  h3 {
    margin: 0px;
    width: 100%;
    text-align: center;
    width: 100%;
  }

  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 5vw;
  }

  button {
    font-size: 4.5vw;
    width: 100%;
  }

  #value-section {
    height: 30vh;
  }

  .white-para {
    font-size: 2vh;
    font-weight: 300;
  }
  
  .sidebyside {
    flex-direction: column;
  }

  .explain-app-screenshot {
    height: 70%;
  }

  .explain-text-container {
    max-width: 100%;
    width: 100%;
  }

  h5 {
    font-size: 3vh;
    text-align: center;
  }

  .explain-para {
    text-align: center;
    font-size: 2vh;
    margin-top: -8%;
  }
}